<!DOCTYPE html>
<html lang="en">
<%- include('includes/head.ejs',{title:"Auth"}) %>
<body>
<div class="login-wrapper">
    <div class="nav-login">uni<b>Vault</b></div>
    <div class="input-wrapper">

        <div class="input-header">
            <H1>Login</H1>
            <span>Hi , Welcome back 👋</span>
        </div>

    
            <hr>
    
            <div class="input-fields">
             
            <div class="input-field-group">
            <form method="post">
            <label class="input-label" for="email"><b>Email</b></label>
            <input name="email" type="text" placeholder= "E.g. userxxx" class="login-input">
            </div> 

            <div class="input-field-group">
            <label class="input-label" for="password"><b>Password</b></label>
            <input name="password" type="password" placeholder= "Enter your password" class="login-input">
            </div>

            <input class="login-button" type="submit" value="Login">
            </form> 
        </div>


    </div>

    <div class="footer">
        
    </div>
</body>
</html>