<%- include('includes/head') %>
<body>

    <div class="main">
        <%- include('partials/sidebar') %>
        <%- include('partials/nav') %>
    
    </div>
    <%- include('partials/script.ejs') %>
</body>
</html>