<%- include('includes/head') %>
<%- include('includes/nav') %>
<div class="home-wrapper">

    <div class="main-one">

        <div class="main-one-heading">

            <b style="font-size: 7vh;">Simplifying University Study Materials,</b>
            <br>
           <span style="font-weight: lighter;"> Streamlined access to textbooks, notes, and resources for an effortless academic journey.</span>
        </div>

        <div class="main-one-search">

            <form action="" method="post">
                <input type="search" placeholder="Search notes , papers & more">
            </form>
        
        </div>

    </div>



<!-- 
    <div class="main-two">
        <div class="main-head">
            <h2><b>See our top topics and institutions</b></h2>
        <span>numerous of verified materials across various of institutions.</span>
        </div>
    </div> -->

</div>
</body>
</html>