<%- include('includes/head') %>
<body>
        <%- include('partials/nav') %>
            <div class="home-wrapper">
                <%- include('partials/uni_select') %>
            </div>
        
    <%- include('partials/script') %>
</body>
</html>


