<%- include('includes/head') %>
<%- include('includes/nav') %>

    <div class="select-wrapper">
       <div class="select-button">
        <buttons>Click</buttons>
       </div>
    </div>
</body>
</html>