<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>
<body class="home-body">
    <div class="navbar-container1">
        <a href="/">Uni<b>Vault</b></a>
        <a href="/close/login" class="sliding-middle-out">Login</a>
    </div>
    
    <div class="home-container">
        <div class="home-main">
            <b>Getting <strong>Quality</strong> Notes Is Now More <strong>Easy</strong></b>
            <br>
            <span>provides you with the latest online system and material that help your knowledge growing</span>
        </div>
    </div>
    <div class="home-uni">
        <!-- <h2 class="fancy">Content Available For Universities</h2> -->
        <% uniQuery.forEach(Uni => { %>
             <!-- lowerCase Logic for Branch Shortname -->
                <%  var u = Uni.shortname 
                    var lowerU = u.toLowerCase();
                %>
            <% if (uniQuery.length > 0 ) { %>
                <div class="home-uni-box">
                    <a href="/<%=lowerU%>"><b><%= Uni.name %></b></a>
                    <i>Description</i>
                </div>
            <% } else {%>
                Sorry Content Not Available For Now 😞
            <% } %>
             
        <% }) %>
    </div>

</body>
</html>

