<!DOCTYPE html>
<html lang="en">
<%- include('includes/head', { cssfilename: 'homepage' }) %>
<body class="home-body">
    <%- include('includes/nav') %>
    <!-- Header -->
    <section class="home-header container d-flex flex-column justify-content-center">
        <div class="h1 text-center fw-light">
            <b>Getting <strong class="main-text-color">Quality</strong> Notes Is Now More <strong class="main-text-color">Easy</strong></b>
        </div>
        <div class="h1 text-center fw-light">
            <span class="h4">provides you with the latest online system and material that help your knowledge growing</span>
        </div>
    </section>
    
    <!-- University Section  -->
    <section class="home-university-section container">
        <% uniQuery.forEach(Uni => { %>
            <%  var u = Uni.shortname 
                var lowerU = u.toLowerCase();
            %>
            <% if (uniQuery.length > 0 ) { %>
                <div class="uni-container mx-2 mb-3 p-3 fs-5 rounded">
                    <a class="text-decoration-none" href="/<%=lowerU%>"><b><%= Uni.name %></b></a>
                    <br>
                    <i>Description</i>
                </div>
            <% } else {%>
                Sorry Content Not Available For Now 😞
            <% } %>
        <% }) %>
    </section>
</body>
</html>

