<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>
<body class="branch-body">
    <%- include('partials/nav') %>
    <div class="sem-container">
            <div class="sem-header">BTech CSE I First Semester</div>
            <div class="sem-subjects">
    </div>
    <%- include('includes/script') %>
</body>
</html>