<div class="navbar">
    <div class="navcontent">
        <div id="myTopnav" class="navlogo">uni<b>Vault</b></div>
        <div class="navlink">
            <a href="#">College</a>
            <a href="#">Notes</a>
            <a href="#">About</a>
        </div>
    </div>
</div>
