<div class="main-one">

    <div class="main-one-heading">
        <b style="font-size: 7vh;">Simplifying University Study Materials,</b>
        <br>
    <span style="font-weight: lighter;"> Streamlined access to textbooks, notes, and resources for an effortless academic journey.</span>
    </div>

    <div class="main-one-search">

        <form action="" method="post">
            <input type="search" placeholder="Search rgpv notes , subject & more">
        </form>

    </div>
</div>