<div class="main-one">

    <div class="main-one-heading">
        <b>Simplifying University Study Materials</b>
        <br>
    <span style="font-weight: lighter;"> Streamlined access to textbooks, notes, and resources for an effortless academic journey.</span>
    </div>

    <div class="main-one-search">

        <form action="" method="post">
            <input type="search" placeholder="Search notes , books & more">
        </form>

    </div>
</div>