<div class="select-options">

    <div class="select-heading">
    See our top topics and institutions,
    </div>

    <div class="select-subheading">
    hundreds of verified materials across various of institutions.
    </div>

    <div class="select-box">
        <% branchData.forEach(element => { %>

                <div class="select-fields">
                    <div class="select-field-img"><img src="/public/test_image.png" alt=""></div>
                    <div class="select-field-head"><a href="">Rajiv Gandhi Proudyogiki Vishwavidyalaya</a></div>
                </div>
           
        <% }) %>
    </div>
    
</div>
