<div class="sub-wrapper">
    <div class="sub-header">
       <div class="sub-header-sem"><a href="#"><h3>#CS First Semester</h3></a></div>
       <div class="sub-header-name"><h2>Engineering Chemistry BT101</h2></div>
    </div>
    <div class="sub-desc">
        
        <div class="sub-desc-head"><h2>Description</h2></div>
        <div class="sub-desc-content">
            <span><%= subData.desc %></span>
        </div>
    </div>
    <div class="sub-note">
    </div>
    <div class="sub-note-download">
        
    </div>
</div>