<div class="selectUni">
    <div class="selectuniheading">
        Select Course For BTech RGPV
    </div>

    <div class="selectuni-wrapper">
        <% courseData.forEach(element => { %>
        
            <div class="select-box">
                <a href="#"><%=element.name%></a>
            </div>
        <% }) %>
    </div>
</div>