<div class="navbar">
    <div class="navcontent">
        <div id="myTopnav" class="navlogo"><a style="text-decoration: none;color: white;"  href="/">Uni<b>Vault</b></a></div>
        <div class="navlink">
        </div>
    </div>
</div>
