<nav class="navbar bg-light position-sticky top-0" style="z-index: 999;">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 px-2">
        <a class="text-decoration-none h1 fw-light" href="/">Uni<b class="main-text-color">Vault</b></a>
      </span>
      <span class="navbar-brand mb-0">
        <a href="/close/login" class="sliding-middle-out text-decoration-none">Login</a>
      </span>
    </div>
</nav>