<nav class="navbar  position-sticky bg-white top-0" style="z-index: 999;" style="color: #3e38f5;">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 px-2">
        <a class="text-decoration-none h1" style="color: #3e38f5;" href="/">Uni<b>Vault</b></a>
      </span>
    </div>
</nav>