*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
}
.home-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar{
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}
.navcontent{
    width: 75%;
    height: 7vh;
    display:flex;
    flex-direction: row;
}
.navlogo{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.0rem;
    font-family: Work Sans, sans-serif;
    font-weight: lighter;
    margin-top: 0;
    color: #10100e;
}
.navlink {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.0rem;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
}
.navlink a {
    text-decoration: none;
    color: black;
}
.navlink a:hover {
    text-decoration: underline;
}

.main-one{
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    /* background-color: black; */
    align-items: center;
    /* background-color: #faf7f3; */
}
.main-one-heading {
    width: 100%;
    font-size: 1.5rem;
    margin-top: 5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    /* background-color: red; */
}

.main-one-search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.main-one-search input[type='search'] {
    height: 4rem;
    width: 40rem;
    border: none;
    border-radius: 30px; 
    font-family:  Work Sans, sans-serif;
    font-weight:bolder;
    text-indent: 25px;
    font-size: 18px;
    outline: none;
}


.selectUni{
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    align-items: center;
    background-color: #faf7f3;
}
.selectuniheading{
    width: 80%;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    font-family: Montserrat, sans-serif;
    margin-top: 2.5rem;
    font-weight: 700;
    color: #10100e;
}
.selectuni-wrapper{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 20rem;
    margin-top: 2rem;
    justify-content: space-evenly;
}
.select-box{
    width: 15rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid #dddbdb;
    border-radius: 15px;

}
.select-box a {
    color: black;
    text-decoration: underline;
    font-weight:600;
    font-size: 1.5rem;
    cursor: pointer;
}