*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
}
.home-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar{
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.navcontent{
    width: 75%;
    height: 7vh;
    display:flex;
    flex-direction: row;
}
.navlogo{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.0rem;
    font-family: Work Sans, sans-serif;
    font-weight: lighter;
    margin-top: 0;
    /* color: #10100e; */
    color: white;
}
.navlink {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.0rem;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
}
.navlink a {
    text-decoration: none;
    color: white;
}
.navlink a:hover {
    text-decoration: underline;
}

.main-one{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30rem;
    background-color: black;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: #faf7f3; */
}
.main-one-heading {
    width: 100%;
    font-size: 2.0rem;
    margin-top: 7rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    /* background-color: red; */
}

.main-one-search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    color: black;
}
.main-one-search input[type='search'] {
    height: 4rem;
    width: 40rem;
    border: none;
    border-radius: 20px; 
    font-family:  Work Sans, sans-serif;
    font-weight:lighter;
    text-indent: 25px;
    font-size: 18px;
    outline: none;
    color: black;
}


.select-options{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 40rem;
    align-items: center;
    background-color: #faf7f3;
    /* background-color: red; */
    flex-wrap: wrap;
    /* background-color: #fff; */
}
.select-heading{
    width: 80%;
    height: 5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 6rem;
    font-family: Work Sans, sans-serif;
    font-weight: 700;
    color: black;
    margin-top: 10rem;
}
.select-subheading{
    font-size: 2rem;
    font-weight: lighter;
    font-family: Work Sans , sans-serif;
    margin-top: 7rem;
}

.select-box{
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 5rem;
    margin-top: 2rem;
    justify-content: center;
    column-gap: 3rem;
}
.select-fields{
    width: 40rem;
    height: 6rem;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    background-color: white;
    border: 2px solid #dddbdb;
    border-radius: 10px;

}
.select-fields a {
    color: black;
    text-decoration: underline;
    /* font-weight:200; */
    font-size: .8rem;
    cursor: pointer;
    text-align: center;
}
.select-fields a:hover{
    text-decoration: none;
}

.select-field-img{
    width: 48px;
    height: 48px;
    /* background-color:gray; */
    margin-left: 10px;
}
.select-field-head{
    margin-left: 10px;
}

.footer-wrapper{
    width: 100%;
    height: 5rem;
    background-color:black;
    color: white;
    text-align: center;
    align-content: center;
}

.choice-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #F0F3F5;
}
.branch-cards-wrapper{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 100%;
}








@media screen and (max-width : 1090px){
    .select-heading{
        width: 100%;
        font-size: 5rem;
    }

    .select-subheading{
        margin-top: 8.0rem;
    }
}
@media screen and (max-width : 850px) {
    .select-heading{
        margin-top: 5rem;
        font-size: 3.5rem;
    }
    .select-box {
        width: auto;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem
        ;
    }
    .select-fields{
        height: 10rem;
    }
    .select-subheading{
        font-size: 1.5rem;
        margin-top: 5rem;
    }
}
@media screen and (max-width : 670px) {
    /* .select-field-img{
        display: none;
    } */
     img{
        width: 30px;
        height: 30px;
        margin-left: 0px;
     }
    .main-one{
        height: 22rem;
    }

    .main-one-heading{
        font-size: 1.5rem;
    }
    .main-one-search input[type='search']{
        border-radius: 15px;
        font-size: 15px;
        width: 50vh;
        height: 3rem;
    }

    .select-heading{
        margin-top: 4rem;
        font-size: 3.0rem;
    }
    .select-subheading{
        margin-top:3rem;
    }
    .select-fields{
        justify-self: center;
        width: 25rem;
        height: 3rem;
        font-size: 5px
    }
    .select-field-img{
        display: flex;

        align-items: center;
        justify-content: center;
    }
    .select-field-head a{
        margin-left: 5px;
        font-size: 10px;
    }
    .select-subheading{
        margin-left: 0;
        text-align: center;
        font-size: 1.4rem;
    }
}

@media screen and  (max-width : 480px) {
    .main-one{

        height: 10rem;
    }
    .main-one-search input[type='search'] {
        border-radius: 15px;
        font-size: 15px;
        width: 20rem;
    }
    .navlogo{
        font-size: 1.2rem;
    }
    .navlink a {
        font-size: 1.0rem;
    }
    .main-one{
        height: 25rem;
    }
    
    .main-one-heading{
        margin-top: 5rem;
        width: 70%;
    }
    .main-one-heading span{
        
        font-size: 1.0rem;
    }
    .main-one-search input[type='search']{
        border-radius: 15px;
        height:3rem;
    }
    .select-heading{
        font-size: 2.3rem;
        margin-top: 2.5rem;
    }
    .select-subheading{
        margin-top: 2rem;
        font-size: 1.5rem;
    }
    .select-fields{
        width: 25rem;
        height: 15rem;
        margin-left: 0;
    }
}

@media screen and (max-width : 430px) {
    .select-fields{
        border-radius: 5px;
        width: 20rem;
        height: 80px;
    }
    .select-heading{
        margin-top: 4rem;
    }
    .select-subheading{
        font-size: 0.8rem;
        margin-top: 2rem;
    }
}
