*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1E1E1E;
} 
@font-face {
    font-family: "Telegraph";
    src: url(../fonts/telegraf_light.otf);
    font-weight: light;
}
@font-face {
    font-family: "Telegraph Regular";
    src: url(../fonts/telegraf_regular.otf);
    font-weight: regular;
}
.navbar-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height:15vh;
    display: flex;
    justify-content: start;
    align-items: center;
}

.navbar-container a{
    color: white;
    font-size: 2.5rem;
    font-family:  Work Sans, sans-serif;
    font-weight: 300;
    margin-left: 2rem;
    text-decoration: none;
}

.navbar-container a:nth-child(even){
    font-size: 1.3rem;
}

.navbar-container1{
    display: flex;
    flex-direction: row;
    width: 100%;
    height:15vh;
    display: flex;
    justify-content: start;
    align-items: center;
}

.navbar-container1 a{
    color:rgb(62, 56, 245);
    font-size: 2.5rem;
    font-family:  Work Sans, sans-serif;
    font-weight: 300;
    margin-left: 5rem;
    text-decoration: none;
}

.navbar-container1 a:nth-child(even){
    font-size: 1.3rem;
}


.home-body{
    background-color: #FAFAFC;
    /* background-color: white; */
    
}
.home-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20rem;
    align-items: center;
    /* background-color: black; */
}
.home-main{
    text-align: center;
    font-size: 2.5rem;
    font-weight: lighter;
    margin-top: 10rem;
}
.home-main strong{
    color:rgb(62, 56, 245);
}
.home-main span{
    font-size: 1.5rem;
}
.home-uni{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 100%;
    margin-top: 5rem;
    height:50rem;
    font-family:Telegraph ;
}

.home-uni-box{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 7rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    font-family: Work Sans ,sans-serif;
    justify-content: center;
    border-radius: 10px;
}
.home-uni-box a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-family: Telegraph Regular;
    font-size: 1.4em;
    margin-left: 2rem;
}
.home-uni-box a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.home-uni-box a:nth-child(even){
    font-size: 1.0em;
}
.home-uni-box i{
    color:rgb(62, 56, 245);;
    font-family: Work Sans;
    margin-left: 2rem;
}

p {
    font-size: 8vw;
    text-align: center;
    line-height: 1;
  }
  
  .fancy {
    position: relative;
    white-space: nowrap;
  }
  
  .fancy:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: calc(0.3125em * -0.625);
    height: 0.3125em;
    background-image: url("data:image/svg+xml,<svg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='Crimson' stroke-width='14'/></svg>");
    background-size: auto 100%;
  }
/* Next Pages */
.sub-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh; 
    align-items: center;
    background-color: ghostwhite;
}

.sub-header{
 width: 90%;
 height: 7rem;
 background-color: white;
 font-size: 1.56rem;
 text-align: center;
 align-content: center;
 border: 1px solid gainsboro;
 border-radius: 20px;
 margin-top: 3rem;
}
.sub-header a {
font-size: 1.5rem;
text-decoration: none;
color: black;
}

.sub-header a:hover{
    text-decoration: underline;
}

.sub-desc{
    display: flex;
    flex-direction: column;
    width: 90%;
    min-height: max-content;
    align-items: center;
    margin-top: 1rem;
    background-color:white;
    border: 1px solid gainsboro;
    border-radius: 20px;
    font-size: 20px;
}

.sub-desc-head{
    margin-top: 20px;

}

.sub-desc-content{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 30vh;
    text-align: start;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.options-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height :  30rem;;
    gap: 15px;
    background-color: #1E1E1E;
    margin-top: 2rem;
}

.option-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 5rem;
    background-color: #363636;
    border-radius: 12px ;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.option-container-top{
    display: flex;
    flex-direction: column;
    height: 5rem;
    border-radius: 12px;
    justify-content: center;
    background-color: #363636;
}

.option-container-top a {
    text-decoration: none;
    color: white;
    margin-left: 2rem;
    font-weight: lighter;
}
.option-container-top a:nth-child(even){
    font-weight: 200;
    color: #388E3C;
}
.option-container-top a:hover{
    text-decoration: underline;
}

.option-container-bottom{
    display: flex;
    flex-direction: row;
    height: 5rem;
    align-items: center;
    gap: 5px;
}

.option-container-bottom-left{
    display: flex;
    width: 100%;
    height: 5rem;
    margin: auto;
    justify-content: start;
    align-items: center;
    font-size:13px;
    color: gray;
    margin-left: 2rem;
}

.sem-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 75rem;
    align-items: center;
}

.sem-wrapper{
    display: flex;
    flex-direction: column;
}

.sem-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 5rem;
    border-radius: 10px;
    margin-top: 3rem;
    color: white;
    font-size: 2rem;
    font-family: Montserrat, sans-serif;
    font-weight: 200;
    /* font-family:  Work Sans, sans-serif; */
}

.sem-subjects{
    display: flex;
    flex-direction: column;
    width: 90%;
    min-height : 10rem;;
    margin-top: 1rem;
    font-size: 1.5rem;
    align-items: center;
}

.sem-subjects a {
 text-decoration: none;
 font-family: Montserrat, sans-serif;
 font-weight: lighter;
 color: #CCCCCC;
 
}

.sub-dox{
    display: flex;
    flex-direction: row;
    width:70%;
    height: 5rem;
    border-radius: 15px;
    align-items: center;
    background-color:rgb(54, 54, 54);
    margin-bottom: 1.5rem;
}

.sub-dox a  {
    margin-left: 2rem;
    text-decoration: none;
}
.sub-dox a:hover:nth-child(odd) {
    text-decoration: underline;
}



.sliding-middle-out {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}
.sliding-middle-out:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.sliding-middle-out:hover:after {
	width: 100%;
	background: blue;
}

.sliding-middle-out {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
}
.sliding-middle-out:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.sliding-middle-out:hover:after {
	width: 100%;
	background: blue;
}

/* Media Queries */
@media screen  and (max-width : 1150px){
    
    .sem-subjects{
        font-size: 1.3rem;
    }
    .home-uni{
        padding: 5px 5px 5px;
    }
}

@media screen and (max-width : 850px) {

    .sem-header{
        font-size: 2rem;
    }
    .sem-subjects{
        font-size: 1.5rem;
        padding: 10px;
    }
    .branch-cards-wrapper{
        width: 100%;
    }
}

@media screen and (max-width : 800px) {

    .option-container{
        width: 90%;
    }
    .option-container-top a {
        margin-left: 1rem;
        font-size: 15px;
    }
    .option-container-bottom-left{
        margin-left: 1rem;
        font-size: 12px;
    }
    .sem-subjects{
        font-size: 1.5rem;
    }
    .home-main{
        margin: 5rem;
        padding: 5px 5px 5px;
    }
}


@media screen and (max-width : 675px) {

    .option-container{
        width: 90%;
    }
    .option-container-top a {
        margin-left: 1rem;
        font-size: 15px;
    }
    .option-container-bottom-left{
        margin-left: 1rem;
        font-size: 12px;
    }

    .sem-header{
        font-size: 1.5rem;
    }
    .sem-subjects{
        font-size: 1.1rem;
    }
    .branch-card{
        width: 25rem;
        height:15rem;
    }
    .branch-cards-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-uni{
        margin-top: 10rem;
    }

}

@media screen and (max-width : 575px) {

  .sem-subjects{
    padding: 10px;
    font-size: 1.0rem;
  }

  .home-uni{
    margin-top: 10rem;
}
}

@media screen and (max-width : 500px) {
    .option-container{
        width: 90%;
    }
    .option-container-top a {
        margin-left: 1rem;
        font-size: 14px;
    }
    .option-container-bottom-left{
        margin-left: 1rem;
        font-size: 15px;
    }

    .home-uni{
        margin-top: 15em;
    }
}

@media screen and  (max-width : 480px) {
    .sem-header{
        font-size: 1.3rem;
    }
    .sem-subjects{
        padding: 20px;
        font-size: 1rem;
    }

    .branch-card{
        width: 20rem;
        height: 20rem;
    }

    .home-uni{
        margin-top: 15rem;
    }
}

@media screen and (max-width : 450px) {
    .option-container{
        width: 90%;
    }
    .option-container-top a {
        margin-left: 1rem;
        font-size: 15px;
    }
    .option-container-bottom-left{
        margin-left: 1rem;
        font-size: 12px;
    }
    .branch-cards-wrapper{
        width: 100%;
    }
    .branch-card{
        width: 10rem;
    }
    .navbar-container{
        justify-content: center;
        gap: 50px;
    }
    .navbar-container a {
        margin: 0;
    }

    .home-uni{
        margin-top: 20rem;
    }

}

@media screen and (max-width : 400px) {
    .navbar-container{
       justify-content: center;
       gap: 50px;
    }
    .navbar-container a{
        text-align: center;
        margin-left: 0;
    }
    .sem-header{
        font-size: 1.1rem;
    }

    .home-uni{
        margin-top: 28rem;
    }
    .home-uni-box a{
        font-size: 1rem;
    }
    .fancy{
        font-size: 1.4rem;
    }

}

@media screen and (max-width : 350px) {
    .sem-header{
        font-size: 1.1rem;
    }
    .select-fields{
        width: 18rem;
    }

    .home-uni{
        margin-top: 30rem;
    }
    .home-uni-box{
        font-size: 1rem;
    }
}
@media screen and (max-width : 320px) {
    .home-uni{
        margin-top: 35rem;
    }
}