*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1E1E1E;
} 

.navbar{
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    background-color: #1E1E1E;
}
.navcontent{
    width: 75%;
    height: 7vh;
    display:flex;
    flex-direction: row;
}
.navlogo{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.0rem;
    font-family: Work Sans, sans-serif;
    font-weight: lighter;
    margin-top: 0;
}

/* Next Pages */
.sub-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh; 
    align-items: center;
    background-color: ghostwhite;
}

.sub-header{
 width: 90%;
 height: 7rem;
 background-color: white;
 font-size: 1.56rem;
 text-align: center;
 align-content: center;
 border: 1px solid gainsboro;
 border-radius: 20px;
 margin-top: 3rem;
}
.sub-header a {
font-size: 1.5rem;
text-decoration: none;
color: black;
}

.sub-header a:hover{
    text-decoration: underline;
}

.sub-desc{
    display: flex;
    flex-direction: column;
    width: 90%;
    min-height: max-content;
    align-items: center;
    margin-top: 1rem;
    background-color:white;
    border: 1px solid gainsboro;
    border-radius: 20px;
    font-size: 20px;
}

.sub-desc-head{
    margin-top: 20px;

}

.sub-desc-content{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 30vh;
    text-align: start;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.options-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height :  30rem;;
    gap: 15px;
    background-color: #1E1E1E;
    margin-top: 2rem;
}

.option-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 5rem;
    background-color: #363636;
    border-radius: 12px ;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.option-container-top{
    display: flex;
    flex-direction: column;
    height: 5rem;
    border-radius: 12px;
    justify-content: center;
    background-color: #363636;
}

.option-container-top a {
    text-decoration: none;
    color: white;
    margin-left: 2rem;
    font-weight: lighter;
}
.option-container-top a:nth-child(even){
    font-weight: 200;
    color: #388E3C;
}
.option-container-top a:hover{
    text-decoration: underline;
}

.option-container-bottom{
    display: flex;
    flex-direction: row;
    height: 5rem;
    align-items: center;
    gap: 5px;
}

.option-container-bottom-left{
    display: flex;
    width: 100%;
    height: 5rem;
    margin: auto;
    justify-content: start;
    align-items: center;
    font-size:13px;
    color: gray;
    margin-left: 2rem;
}

.sem-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 75rem;
    align-items: center;
}

.sem-wrapper{
    display: flex;
    flex-direction: column;
}

.sem-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 5rem;
    border-radius: 10px;
    margin-top: 3rem;
    color: white;
    font-size: 2rem;
    font-family: Montserrat, sans-serif;
    font-weight: 200;
    /* font-family:  Work Sans, sans-serif; */
}

.sem-subjects{
    display: flex;
    flex-direction: column;
    width: 90%;
    min-height : 10rem;;
    margin-top: 1rem;
    font-size: 1.5rem;
    align-items: center;
}

.sem-subjects a {
 text-decoration: none;
 font-family: Montserrat, sans-serif;
 font-weight: lighter;
 color: #CCCCCC;
 
}

.sub-dox{
    display: flex;
    flex-direction: row;
    width:70%;
    height: 5rem;
    border-radius: 15px;
    align-items: center;
    background-color:rgb(54, 54, 54);
    margin-bottom: 1.5rem;
}

.sub-dox a  {
    margin-left: 2rem;
    text-decoration: none;
}
.sub-dox a:hover:nth-child(odd) {
    text-decoration: underline;
}

/* Media Queries */
@media screen  and (max-width : 1150px){
    
    .sem-subjects{
        font-size: 1.3rem;
    }
}

@media screen and (max-width : 850px) {

    .sem-header{
        font-size: 2rem;
    }
    .sem-subjects{
        font-size: 1.5rem;
        padding: 10px;
    }
    .branch-cards-wrapper{
        width: 100%;
    }
}

@media screen and (max-width : 800px) {

    .option-container{
        width: 90%;
    }
    .option-container-top a {
        margin-left: 1rem;
        font-size: 15px;
    }
    .option-container-bottom-left{
        margin-left: 1rem;
        font-size: 12px;
    }
    .sem-subjects{
        font-size: 1.5rem;
    }
}

@media screen and (max-width : 675px) {

    .option-container{
        width: 90%;
    }
    .option-container-top a {
        margin-left: 1rem;
        font-size: 15px;
    }
    .option-container-bottom-left{
        margin-left: 1rem;
        font-size: 12px;
    }

}

@media screen and (max-width : 670px) {

    .sem-header{
        font-size: 1.5rem;
    }
    .sem-subjects{
        font-size: 1.1rem;
    }
    .branch-card{
        width: 25rem;
        height:15rem;
    }
    .branch-cards-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width : 575px) {

  .sem-subjects{
    padding: 10px;
    font-size: 1.0rem;
  }
}

@media screen and (max-width : 500px) {

    .option-container{
        width: 90%;
    }
    .option-container-top a {
        margin-left: 1rem;
        font-size: 14px;
    }
    .option-container-bottom-left{
        margin-left: 1rem;
        font-size: 15px;
    }

}

@media screen and  (max-width : 480px) {
    .sem-header{
        font-size: 1.3rem;
    }
    .sem-subjects{
        padding: 20px;
        font-size: 1rem;
    }
    .navlogo{
        font-size: 2.0rem;
    }
    .navlink a {
        font-size: 2.0rem;
    }
    .branch-card{
        width: 20rem;
        height: 20rem;
    }

}

@media screen and (max-width : 450px) {
    .option-container{
        width: 90%;
    }
    .option-container-top a {
        margin-left: 1rem;
        font-size: 15px;
    }
    .option-container-bottom-left{
        margin-left: 1rem;
        font-size: 12px;
    }
    .branch-cards-wrapper{
        width: 100%;
    }
    .branch-card{
        width: 10rem;
    }

}

@media screen and (max-width : 390px) {
    .sem-header{
        font-size: 1.1rem;
    }
    .navlogo {
        margin-left: 15px;
    }
    .navlogo a {
        font-size: 1.8rem;
    }
}

@media screen and (max-width : 350px) {
    .sem-header{
        font-size: 1.1rem;
    }
    .select-fields{
        width: 18rem;
    }
    .navlogo {
        margin-left: 15px;
    }
    .navlogo a {
        font-size: 1.8rem;
    }
}