/* Login Page Styling */
.login-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: #FFFFFF;
    /* justify-content: center; */
    align-items: center;
}

/* Navbar Styling */
.nav-login{
    display: flex;
    width: 100%;
    height: 9vh;
    background-color: #FFFFFF;
    justify-content: start;
    align-items: center;
    padding-left: 10vh;
    /* color: #3E38F5; */
    color: black;
    font-size: 3.5vh;
    border-bottom: 0.5px solid gainsboro;
}

/* Input Wrapper */
.input-wrapper
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
    height: 50vh;
    margin-top:10vh ;
    align-items: center;
    /* background-color: black; */

}

/* Input Header {login,hi welcome back!} */

.input-header{
 display: flex;
 flex-direction: column;
 width: 100%;
 height: 10vh;
 
}
img{
    width: 10vh;
    height: 9vh;
}
h2 {
    width: 100%; 
    font-size: 1vh;
    text-align: center; 
    border-bottom: 0.5px solid gainsboro; 
    color: gainsboro;
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 

h2 span { 
    background:#fff; 
    padding:0 50px; 
}
 
.input-fields{
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-input{
    width: 100%;
    height: 5vh;
}
 .login-input ,input{
    border: 1px solid gainsboro;
    border-radius: 0.5vh;
    text-align:left;
    padding-left: 10px;
}
.login-button{
    /* background-color:#3E38F5 ;  */
    background-color: black;
    color: #fff;
    border-radius: 0.5vh;
    text-align:center;
    width: 100%;
    height: 5vh;
}

hr{
    width: 100%;
    color: gainsboro;
}

