*{
    padding: 0;
     margin: 0;
}

.main
{
    display: flex;
    flex-direction:row;
    width: 100%;
    min-height: 100vh;
}

.main-left
{
    width: 12%;
    min-height: 100vh;
    background-color: #FFFFFF;
    border-right: 0.5px solid gainsboro;

 /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}

.main-left-top 
{
    display: flex;
    width: 100%;
    min-height: 6vh;
    background-color: white;
    color: black;
    font-size: 2.5vh;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5px solid gainsboro;

}

.main-left-bottom 
{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 20px;
    font-size: 2.0vh;
    margin-top: 25px;
    gap: 25px;

}

.main-right{
    display: flex;
    flex-direction:column;
    width: 88%;
    min-height: 100vh;
    align-items: center;
    background-color:#F6F7FB;

}

.main-right-navbar
{
    display: flex;
    width: 100%;
    height: 6vh;
    background-color: F6F7FB;
    border-bottom: 0.5px solid gainsboro;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}

.main-right-bread
{
    display: flex;
    width: 95%;
    min-height: 10vh;
    justify-content: start;
    align-items: center;
    font-size: 2.5vh;
    gap: 1vh;
}

.main-right-bottom
{
    width: 95%;
    min-height: 75vh;
    border-radius: 10px;
    justify-content: center;
/* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13), 0 1px 1px 0 rgba(0, 0, 0, .11); */
/* background-color: white;, */
}

.admin{
    width: 100px;
    height: 6vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    margin-left: 125vh;
    font-size: 1.3vh;
    gap: 10px;
}

.admin-name{
    display: inline;
    flex-direction: row;
}


a{
    color: black;
    text-decoration: none;
}
a:hover {
    
    cursor: pointer;
  }

.addModal{
margin-left: 100vh;
}

thead , tr{ 
    font-size: 1.4vh;
}

p
{
    font-size: 1.5vh;
    margin: 0;
    text-align: center;

}
    
label ,select
{ 
        font-size: 1.5vh !important ;
}