
#dashboard .stat-info .card {
    width: 140px;
    height: 80px;
}

#dashboard .stat-info .stat-name {
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
}

#dashboard .action-performed {
    height: 80vh;
}

#dashboard .action-performed .header {
    font-family: "Roboto", sans-serif;
}

#dashboard .action-performed .card .info .date-time {
    font-size: 0.7rem;
}
#dashboard .action-performed .card .action-info .action {
    font-size: 0.7rem;
}

@font-face {
    font-family: "Telegraph Light";
    src: url(../../fonts/telegraph.light.otf);
    font-weight: light;
}
@font-face {
    font-family: "Telegraph Regular";
    src: url(../../fonts/telegraph.regular.otf);
    font-weight: regular;
}

body{
    font-family: "Telegraph";
}