*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-text-color {
    color: #3e38f5;
}


@font-face {
    font-family: "Telegraph";
    src: url(../fonts/telegraf_light.otf);
    font-weight: light;
}
@font-face {
    font-family: "Telegraph Regular";
    src: url(../fonts/telegraf_regular.otf);
    font-weight: regular;
}
