<div class="container">
  <div class="row mt-5 mb-3 ">
    <div class="d-flex justify-content-between">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <% if (breadcrumb.length> 0) { %>
            <% breadcrumb.forEach(element=> { %>
              <% if (element.isLink) { %>
                <li class="breadcrumb-item active" aria-current="page"><a href="<%= element.link %>">
                    <%= element.label %>
                  </a></li>
                <% } else { %>
                  <li class="breadcrumb-item active " aria-current="page">
                    <%= element.label %>
                  </li>
                  <% } %>
                    <% }) %>
                      <% } %>
        </ol>
      </nav>
      <button type="button" class=" btn btn-primary my-auto " data-bs-toggle="modal" data-bs-target="#exampleModal">
        +
      </button>
    </div>
  </div>
</div>