
<div class="container">
    <div class="row ">
      <div class=" col-10 d-flex align-items-center" style="height: 8rem;">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><b>RGPV</b></a></li>
            <li class="breadcrumb-item"><a href="#"><b>BTech</b></a></li>
            <li class="breadcrumb-item active" aria-current="page"><b>CSE</b></li>
          </ol>
        </nav>
      </div>

      <div class="col d-flex align-items-center">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          +
        </button>
      </div>
    </div>
  </div>
